 
@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}


<!-- Start All Title Box -->



<!-- End All Title Box -->
<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 style="font-family:Georgia, 'Times New Roman', Times, serif" class="noo-sh-title">WE are <br />  your online shopping partner</h2>
                <p>
                    We are providing our customers with  paper cups, biodegradable cups, disposable bowls, reusable plastic plates, tray paper, cling film, plastic cups, and much more are all part of our extensive selection.
                    Additionally, we carry a wide selection of food packaging materials, including foil, plastic, and biodegradable containers.
                    We are top providers of janitorial and hygiene chemical supplies, both branded and unbranded. We provide distribution services for businesses around the area. Additionally, we offer disposable protective clothing, medical and dental supplies, healthcare goods, and cleaning agents.


                <p>
                    Online Shopping Mart is timeless, and few can match Mads and hand-braided bracelets and custom-made pieces.
                    This skill has been passed down to the talented production team warehouse where each braided piece is handcrafted.
                    Online shopping mart’s Jewels piece can be put together in any way our customers want using only the finest materials, our wide range of gemstones, and various colours of gold.

                <p>
                    Not only this, our selection of children's books combines creative writing, design, and artefacts from our collections. Also 
                    The lightweight, contemporary shoulder bag that is infamous. Keep abreast of the most recent trends. Browse all of our quality bags in one place.




                </p>
            </div>
            <div class="col-lg-6">
                <div class="banner-frame">
                    <img class="img-thumbnail img-fluid" src="images/about-img.jpg" alt="" />
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3 style="font-family:Georgia, 'Times New Roman', Times, serif">Our main Goal</h3>
                    <p>
                        Our goal is to offer a wide selection of high-quality, name-brand products while enabling our clients to save there money and time.
                        Call us right away so that our staff can evaluate your needs and offer you a customised service package,
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3 style="font-family:Georgia, 'Times New Roman', Times, serif">We are Professional</h3>
                    <p>
                        schools,Colleges,  homes, private hospitals, offices, hotels, health & leisure clubs, pubs, beauty salons & restaurants, streat venders are just a few of the business sectors we serve.                 
                        With our exeptional services we are giving you the peace of mind to focus on your main line of business.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3 style="font-family:Georgia, 'Times New Roman', Times, serif">We are Trusted</h3>
                    <p>
                        If you can't seem to locate what you're searching for, our staff is here to assist you with any product questions. We really hope the details regarding our selection of products on our website have been helpful to you.
                        Please don't hesitate to contact us.

                    </p>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12">
                <h2 style="font-family:Georgia, 'Times New Roman', Times, serif" class="noo-sh-title ">Entrepreneurs</h2>
            </div>
            <div class="col-sm-6 col-lg-6" height="50px" width="50px">
                <div class="hover-team">
                    <div class="our-team">


                        <img src="~/ProductPicture/usama.jpg" alt="" style="border-radius:50%; height:480px; width:500px" />
                        <div class="team-content">
                            <h3 class="title">Usama Saleem</h3> <span class="post">Owner at Shopping Mart</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/usama.7236" class="fab fa-facebook"></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/usama4554/?igshid=YmMyMTA2M2Y%3D" class="fab fa-instagram"></a>
                            </li>
                            <li>
                                <a href="" class="fab fa-whatsapp"></a>
                            </li>


                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description">
                        <p>If you have any queries, suggestions, or complaints you can contact us. This year, we've already helped all of our clients save their money and time. </p>

                        <i class=" fa fa-phone"> 03351510000 </i>
                    </div>
                    <hr class="my-0">
                </div>
            </div>
            <div class="col-sm-6 col-lg-6">
                <div class="hover-team">
                    <div class="our-team">


                        <img src="~/ProductPicture/ahmad.jpg" height="100px" width="100px"  alt="" style="border-radius:50%"/>
                        <div class="team-content">
                            <h3 class="title">Ahmad Saleem</h3> <span class="post">Co-Owner</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/ranaahmad.ahmad.7946" class="fab fa-facebook"></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/muhammad_ahmad_09/?igshid=YmMyMTA2M2Y%3D" class="fab fa-instagram"></a>
                            </li>
                            <li>
                                <a href="https://api.whatsapp.com/qr/CDTNXASIT6CTH1?autoload=1&app_absent=0" class="fab fa-whatsapp"></a>
                            </li>


                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description">
                        <p>If you have any queries, suggestions, or complaints you can contact us. This year, we've already helped all of our clients save their money and time. </p>
                       
                        <i class=" fa fa-phone"> 03181766685 </i>
                    </div>
                    <hr class="my-0">
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- End About Page -->
